@page
@model mtuci_labs.Pages.Admin_PanelModel
@{
}
@if (Model.IsAuth == "false")
{
	Response.Redirect("/Password");
}


<div>
	<a asp-page="/Admin">Добавить работу</a>
	<a asp-page="/List">Список</a>
</div>