@page
@model mtuci_labs.Pages.ListModel
@{
}
@if (Model.IsAuth == "false")
{
	Response.Redirect("/Password");
}

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<td>Id</td>
				<td>Name</td>
				<td>Path</td>
				<td>Course</td>
			</tr>
		</thead>
		<tbody>
			@foreach(var subject in Model.Subjects){
	<tr>
		<td>@subject.Id</td>
		<td>@subject.Name</td>
		<td>@subject.Path</td>
		<td>@subject.Course</td>
		<td><a href="/Edit/@subject.Id">Посмотреть</a></td>
	</tr>
}
		</tbody>
	</table>
</div>