@page
@model mtuci_labs.Pages.MathDbModel
@{
}

<h1>Методички для лабораторных работ по Математическим основам баз данных</h1>

<div class="container">
	@for (int i = 0; i < Model.Subjects.Count(); i++)
	{	
			@if(Model.Subjects[i].Name == "Математические основы баз данных")
			{
				<div class="d-flex justify-content-between">
					<div>Предмет: @Model.Subjects[i].Name</div>
					<div>Курс: @Model.Subjects[i].Course</div>
					<a href="@Url.Page("MathDB", "DownloadFile", new { fileName = Model.Files[i].FileName })">@Model.Files[i].FileName</a>
				</div>
			}		
	}
</div>