@page
@model mtuci_labs.Pages.PasswordModel
@{
}

<div>
    <h1>Введите пароль для доступа в административную панель:</h1>
    <form method="post">
        <div>
            <label asp-for="Entered_Password"></label>
            <input asp-for="Entered_Password" type="password" />
        </div>
        <button type="submit">Войти</button>
    </form>
</div>

